# Name: ThreeB Microscopy
# Author: E. Rosten and S. Cox
# Date: 04/11/2011

# Each entry is menuname, "Command text", classname
# Generate the jar file using: "jar cvfM jar_demo.jar *"


Plugins>Three B, "Three B", three_B("")
Plugins>Three B, "Advanced", three_B("advanced")
Plugins>Three B, "Open 3B run", ThreeBLoader("")
Plugins>Three B, "Apply Glow LUT", ClassicGlow("")
Plugins>Three B, "-"
Plugins>Three B, "Open QuickPalm run", QuickPalmLoader("")
Plugins>Three B, "-"
Plugins>Three B, "3B Tutorial", ThreeBHelp("")
Plugins>Three B, "Load test data", LoadTestData("")
Plugins>Three B, "Open test data results", ThreeBLoader("test")
Plugins>Three B, "-"
Plugins>Three B, "About", ThreeBHelp("about")

